.pages
    .page(data-page="wizard-language")
        .page-content.wizard
            .wizard-title {{i18n "Choose your language"}}
            .list-block
                ul
                    li
                        a.item-link.item-content(href="#")
                            .item-inner
                                .item-title {{i18n.languages[i18n.locale].languageName}}
            .list-block
                ul
                    {{#each i18n.languages}}
                    {{#unless languageDefault}}
                    li
                        a.item-link.item-content(href="#")
                            .item-inner
                                .item-title {{languageName}}
                    {{/unless}}
                    {{/each}}